[package]
name = "callback"
version.workspace = true
edition.workspace = true

[dependencies]
[dependencies.windows]
version = "0.58"
features = [
    "Win32_Foundation",
    "Win32_Storage_FileSystem",
    "Win32_System_IO",
    "Win32_System_Diagnostics_ToolHelp",
]
